body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a2e; /* Color oscuro tipo ciberseguridad */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    width: 300px;
}

h2 { text-align: center; color: #16213e; }

.input-group { margin-bottom: 1rem; }

label { display: block; margin-bottom: .5rem; color: #333; }

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Importante para que el padding no sature el ancho */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0f3460;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover { background-color: #e94560; }

.error {
    color: #e94560;
    font-size: 0.8rem;
    display: none;
    margin-top: 10px;
}